@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.trns-text {
  background: url(../public/giphy.webp) no-repeat bottom center;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: cover;
}


.trns-texts {
  background: url(../public/bg_gradient.gif) no-repeat bottom center;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: cover;
}